doctype html
html
    head
        title= title
        if developmentMode
            link(rel='stylesheet', href='/css/admin.css')
        else
            link(rel='stylesheet', href='/css/admin.min.css')
    body
        div#react-wrapper
            h1 Loading app...
        script!= "window.jb__injected = JSON.parse('"+toInject+"');"

        if developmentMode
            script(src="/js/admin.js", async, defer)
        else
            script(src="/js/admin.min.js", async, defer)


