@import 'npm://elemental/less/elemental';
@import 'npm://react-select/less/default';
@import "../../node_modules/elemental/less/variables";

body {
  font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a.active-link {
  color: grey;
}

.text-right {
  text-align: end;
}

.relative-100-zindex {
  position: relative;
  z-index: 100
}

._padding-5 {
  &._top {
    padding-top: 5px;
  }
  &._bottom {
    padding-bottom: 5px;
  }
  &._left {
    padding-left: 5px;
  }
  &._right {
    padding-right: 5px;
  }
  &._all {
    padding: 5px;
  }
}

._margin-1em {
  &._top {
    margin-top: 1em;
  }
  &._bottom {
    margin-bottom: 1em;
  }
  &._left {
    margin-left: 1em;
  }
  &._right {
    margin-right: 1em;
  }
  &._all {
    margin: 1em;
  }
}

._margin-5 {
  &._top {
    margin-top: 5px;
  }
  &._bottom {
    margin-bottom: 5px;
  }
  &._left {
    margin-left: 5px;
  }
  &._right {
    margin-right: 5px;
  }
  &._all {
    margin: 5px;
  }
}

.jb-form-element-border {
  border: #b3b3b3 solid 1px;
  border-radius: 0.3em;
}

.jb-badge {
  border-radius: 0.2em;
  color: @body-bg;
  padding: 0.1em @table-padding;
  &.success {
    background-color: @app-success;
  }
  &.danger {
    background-color: @app-danger;
  }
  &.info {
    background-color: @app-info;
  }
  &.warning {
    background-color: @app-warning;
  }
  &.primary {
    background-color: @app-primary;
  }
}

.root-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .root-footer-item {
    margin: 5px;

    .Card {
      // override
      margin-bottom: 0;
    }
  }
}