@import 'npm://elemental/less/elemental';

body {
  font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a.active-link {
  color: grey;
}

.root-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .root-footer-item {
    margin: 5px;

    .Card {
      // override
      margin-bottom: 0;
    }
  }
}