div.col-sm-offset-2.col-sm-10
    div.btn-group.btn-group-sm
        button.btn.btn-primary(type="submit", data-bind="attr: {disabled: save.disabled}")
            span.glyphicon.glyphicon-save
            span(data-bind="translate: save.title")
        button.btn.btn-warning(data-bind="click: reload.do, attr: {disabled: reload.disabled}")
            span.glyphicon.glyphicon-remove
            span(data-bind="translate: reload.title")

