.panel.panel-primary
    .panel-heading {{'Posts' | get-text}}
    .panel-body
        search-block(:initialFullText="searchParameters.fullText", :initial-date-from="searchParameters.dateFrom", :initial-date-to="searchParameters.dateTo", )
    .panel-body
        jb-pagination(:page="page", :hasMore="hasMore")
        .row._margin-5._bottom
            .col-xs-12
                dropdown(type="primary")
                    router-link.btn.btn-primary(:to="{name: 'post'}", slot="before", type="button")
                        i.fa.fa-fw.fa-pencil(aria-hidden="true")
                        span._margin-5._left {{'Create new post' | get-text}}
                    li
                        a(href="javascript:void 0;", @click="exportFromOldJsonClick")
                            i.fa.fa-fw.fa-upload(aria-hidden="true")
                            span._margin-5._left {{'Export posts from old version json' | get-text}}
                    li
                        a(href="javascript:void 0;", @click="exportFromCurrentJsonClick")
                            i.fa.fa-fw.fa-upload(aria-hidden="true")
                            span._margin-5._left {{'Export posts from current version json' | get-text}}
                input(type="file", style="display:none", ref="exportFromOldJsonFileInput", @change="exportFromOldJsonFileInputChanged")
                input(type="file", style="display:none", ref="exportFromCurrentJsonFileInput", @change="exportFromCurrentJsonFileInputChanged")
        .row
            .col-xs-12
                dropdown(type="primary", :disabled="!someChecked")
                    span(slot="button")
                        i.fa.fa-fw.fa-check-square-o(aria-hidden="true")
                        span._margin-5._left {{ 'With checked' | get-text }}
                    ul.dropdown-menu(slot="dropdown-menu")
                        li
                            a(href="javascript:void 0;", @click="onPublishCheckedClick")
                                i.fa.fa-fw.fa-eye(aria-hidden="true")
                                span._margin-5._left {{'Publish' | get-text }}
                        li
                            a(href="javascript:void 0;", @click="onMakeDraftCheckedClick")
                                i.fa.fa-fw.fa-eye-slash(aria-hidden="true")
                                span._margin-5._left {{ 'Make draft' | get-text }}
                        li
                            a(href="javascript:void 0;", @click="onImportCheckedToJsonClick()")
                                i.fa.fa-download.fa-fw(aria-hidden="true")
                                span._margin-5._left {{'Import to file' | get-text }}
                        li
                            a(href="javascript:void 0;", @click="onRemoveCheckedClick")
                                i.fa.fa-times.fa-fw(aria-hidden="true")
                                span._margin-5._left {{'Remove' | get-text }}
    table.table.table-hover
        colgroup
        colgroup
        colgroup
        colgroup
        colgroup(style="width: 250px;")
        thead
            tr
                th
                    checkbox.without-label(v-model="checkAll", type="primary")
                th {{'Title' | get-text}}
                th {{'Date' | get-text}}
                th {{'Status' | get-text}}
                th {{'Actions' | get-text}}
        tbody
            tr(v-for="(post, postIndex) in posts", :key="post._id")
                td
                    checkbox.without-label(v-model="post.checked", @input="onPostCheckedCange(postIndex)", type="primary")
                td
                    router-link(:to="{name: 'post', query: {id: post._id}}") {{post.title}}
                td
                    display-date(:value="new Date(post.createDate)")
                td
                    post-status-label(:value="post.status")
                td
                    dropdown(:type="post.status==='DRAFT' ? 'info' : 'danger'")
                        router-link.btn(:class="{'btn-info': post.status==='DRAFT', 'btn-danger': post.status==='PUB'}", :to="{name: 'post', query: {id: post._id}}", slot="before", type="button")
                            i.fa.fa-pencil-square-o.fa-fw
                            span._margin-5._left {{'Edit post' | get-text}}
                        li
                            a(:href="routesMap.preview + '/' + post._id", target="_blank")
                                i.fa.fa-plug.fa-fw(aria="hidden")
                                span._margin-5._left {{'Post preview' | get-text}}
                        li
                            a(href="javascript:void 0;", :disabled="post.statusUpdating", @click="onToggleStatusButtonClick(post)")
                                i.fa.fa-fw(aria-hidden="true", :class="{'fa-eye': post.status==='DRAFT','fa-eye-slash': post.status==='PUB'}")
                                span._margin-5._left {{(post.status==='DRAFT' ? 'Publish' : 'Make draft') | get-text}}
                        li
                            a(href="javascript:void 0;", @click="onImportToJsonClick(post)")
                                i.fa.fa-download.fa-fw(aria-hidden="true")
                                span._margin-5._left {{'Import to file' | get-text }}
                        li
                            a(href="javascript:void 0;", @click="onRemovePostButtonClick(post)")
                                i.fa.fa-times.fa-fw(aria-hidden="true")
                                span._margin-5._left {{'Remove' | get-text }}


                    //.btn-group(role="group" aria-label="Actions")
                    //    router-link.btn.btn-default(:to="{name: 'post', query: {id: post._id}}", :title="'Edit post' | get-text")
                    //        i.fa.fa-pencil-square-o.fa-fw
                    //    button.btn(
                    //    type="button",
                    //    :disabled="post.statusUpdating",
                    //    :class="{'btn-danger': post.status==='DRAFT', 'btn-info': post.status==='PUB'}",
                    //    @click="onToggleStatusButtonClick(post)",
                    //    :title="post.status==='DRAFT' ? 'Publish' : 'Make draft'"
                    //    )
                    //        i.fa.fa-fw(aria-hidden="true", :class="{'fa-eye': post.status==='DRAFT','fa-eye-slash': post.status==='PUB'}")
                    //    button.btn.btn-danger(type="button", @click="onRemovePostButtonClick(post)") Remove
    .panel-body
        jb-pagination(:page="page", :hasMore="hasMore")

