.panel.panel-primary
    .panel-heading {{'Posts' | get-text}}
    .panel-body
        nav(aria-label="Page navigation")
            ul.pager
                li.previous(:style="{visibility: page === 1 ? 'hidden' : 'visible'}")
                    router-link(:to="{ name: 'posts', query: { p: page<3 ? undefined : page-1}}")
                        i.fa.fa-arrow-left.fa-fw(aria-hidden="true")
                        .
                            {{'Previous page' | get-text}}
                li.next(:style="{visibility: hasMore ? 'visible' : 'hidden'}")
                    router-link(:to="{ name: 'posts', query: { p: page+1}}")
                        .
                            {{'Next page' | get-text}}
                        i.fa.fa-arrow-right.fa-fw(aria-hidden="true")
    .panel-body
        router-link.btn.btn-primary.btn-lg(:to="{name: 'post'}")
            i.fa.fa-fw.fa-pencil(aria-hidden="true")
            span._margin-5._left {{'Create new post' | get-text}}
    table.table.table-hover
        thead
            tr
                th {{'Title' | get-text}}
                th {{'Date' | get-text}}
                th {{'Status' | get-text}}
                th {{'Actions' | get-text}}
        tbody
            tr(v-for="post in posts", :key="post._id")
                td
                    router-link(:to="{name: 'post', query: {id: post._id}}") {{post.title}}
                td
                    display-date(:value="new Date(post.createDate)")
                td
                    post-status-label(:value="post.status")
                td
                    .btn-group(role="group" aria-label="Actions")
                        router-link.btn.btn-default(:to="{name: 'post', query: {id: post._id}}", :title="'Edit post' | get-text")
                            i.fa.fa-pencil-square-o.fa-fw
                        button.btn(
                        type="button",
                        :disabled="post.statusUpdating",
                        :class="{'btn-danger': post.status==='DRAFT', 'btn-info': post.status==='PUB'}",
                        @click="onToggleStatusButtonClick(post)",
                        :title="post.status==='DRAFT' ? 'Publish' : 'Make draft'"
                        )
                            i.fa.fa-fw(aria-hidden="true", :class="{'fa-eye': post.status==='DRAFT','fa-eye-slash': post.status==='PUB'}")
    .panel-body
        nav(aria-label="Page navigation")
            ul.pager
                li.previous(:style="{visibility: page === 1 ? 'hidden' : 'visible'}")
                    router-link(:to="{ name: 'posts', query: { p: page<3 ? undefined : page-1}}")
                        i.fa.fa-arrow-left.fa-fw(aria-hidden="true")
                        .
                            {{'Previous page' | get-text}}
                li.next(:style="{visibility: hasMore ? 'visible' : 'hidden'}")
                    router-link(:to="{ name: 'posts', query: { p: page+1}}")
                        .
                            {{'Next page' | get-text}}
                        i.fa.fa-arrow-right.fa-fw(aria-hidden="true")

