#vue-app.main-wrapper
    component-header
    .clear.body-row.page-content
        .body-row-content.flex-ct
            transition(name="route", appear, mode="out-in")
                router-view(name="mainContent", view-name="mainContent")
            component-sidebar(:tags="tags")
    component-footer(:user="user")