div.col-sm-12
    div.btn-group.btn-group-sm
        button.btn.btn-info(data-bind="click: add")
            span.glyphicon.glyphicon-plus
            span &nbsp;
            span(data-bind="translate: 'ADD'")
        button.btn.btn-primary(type="submit", data-bind="attr: {form: formId, disabled: saveDisabled}")
            span.glyphicon.glyphicon-save
            span &nbsp;
            span(data-bind="translate: 'SAVE'")

