.panel.panel-primary
    .panel-heading {{'Files' | get-text}}
    .panel-body Search block
    .panel-body
        jb-pagination(:page="page", :hasMore="hasMore")
    table.table.table-hover
        thead
            tr
                th
                    checkbox.without-label(v-model="checkAll", type="primary")
                th {{'Title' | get-text}}
                th {{'Content type' | get-text}}
                th {{'Length' | get-text}}
                th {{'Upload date' | get-text}}
                th {{'Preview' | get-text}}
        tbody
            tr(v-for="(file, fileIndex) in files", :key="file._id")
                td
                    checkbox.without-label(v-model="file.checked", @input="onFileCheckedCange(fileIndex)", type="primary")
                td
                    a(:href="file.url", target="_blank", :download="file.metadata.originalName")
                        span._margin-5._right {{file.metadata.originalName}}
                        i.fa.fa-fw.fa-download(aria-hidden="true")
                td
                    i.fa.fa-fw._margin-5._right(aria-hidden="true", :class="file.contentType | content-type-to-icon")
                    span {{file.contentType}}
                td {{file.length | number-to-locale-string}} {{'bytes' | get-text}}
                td
                    display-date(:value="new Date(file.uploadDate)")
                td
                    .attachment-preview
                        img(v-if="file.contentType.indexOf('image') === 0", :src="file.url")

    .panel-body
        jb-pagination(:page="page", :hasMore="hasMore")
