div#admin-misc.container-fluid.view
    script#menu-add-save(type="text/html")
        include menu-add-save-tpl
    script#menu-edit(type="text/html")
        include menu-edit-tpl
    div.row
        div.col-sm-12
            a(data-bind="click: mainNavlinks.toggle", href="javascript:void 0")
                h3(data-bind="translate: 'MAIN_MENU'")
    div(data-bind="if: mainNavlinks.visible")
        div.row(data-bind="template: {name: 'menu-add-save', data: mainNavlinks}")
        form.form(role="form", data-bind="attr: {id: mainNavlinks.formId, name: mainNavlinks.formId}, template: {name: 'menu-edit', data: mainNavlinks}, submit: mainNavlinks.save")
        div.row(data-bind="visible: mainNavlinks.navlinks().length>2, template: {name: 'menu-add-save', data: mainNavlinks}")
        div.row(data-bind="visible: mainNavlinks.navlinks().length")
            div.col-sm-12
                h4(data-bind="translate: 'PREVIEW'")
        div.row
            div.col-sm-12
                nav
                    ul.list-unstyled.list-inline(data-bind="foreach: {data: mainNavlinks.navlinks, as: 'navlink'}")
                        li
                            a.btn(data-bind="attr: {href: navlink.url, target: navlink.newWindow()?'_blank':''}, css: {'disabled': navlink.disabled}, visible: navlink.visible")
                                span(data-bind="attr: {'class': 'glyphicon '+navlink.icon()}")
                                span &nbsp;
                                b(data-bind="text: navlink.text")
    div.row
        div.col-sm-12
            a(data-bind="click: footerNavlinks.toggle" href="javascript:void 0")
                h3(data-bind="translate: 'FOOTER_MENU'")
    div(data-bind="if: footerNavlinks.visible")
        div.row(data-bind="template: {name: 'menu-add-save', data: footerNavlinks}")
        form.form(data-bind="attr: {id: footerNavlinks.formId, name: footerNavlinks.formId}, template: {name: 'menu-edit', data: footerNavlinks}, submit: footerNavlinks.save" role="form")
        div.row(data-bind="visible: footerNavlinks.navlinks().length>2, template: {name: 'menu-add-save', data: footerNavlinks}")
        div.row(data-bind="visible: footerNavlinks.navlinks().length")
            div.col-sm-12
                h4(data-bind="translate: 'PREVIEW'")
        div.row
            div.col-sm-12
                nav
                    ul.list-unstyled(data-bind="foreach: {data: footerNavlinks.navlinks, as: 'navlink'}")
                        li
                            a(data-bind="attr: {href: navlink.url, target: navlink.newWindow()?'_blank':''}, css: {'disabled': navlink.disabled}, visible: navlink.visible")
                                span(data-bind="attr: {'class': 'glyphicon '+navlink.icon()}" class='{{navlink.icon}}')
                                span &nbsp;
                                b(data-bind="text: navlink.text")
    div.row
        div.col-sm-12
            a(data-bind="click: appSettings.toggle", href="javascript:void 0")
                h3(data-bind="translate: 'SETTINGS_EDITOR'")
    div(data-bind="if: appSettings.visible")
        form.form.form-horizontal(data-bind="with: appSettings.settings, attr: {id: appSettings.formId, name: appSettings.formId}, submit: appSettings.save" role="form")
            div.row
                div.form-group
                    label.col-lg-4.col-md-4.col-sm-4.control-label(data-bind="translate: 'AUTHOR_DISPLAY_NAME'", for="authorDisplayName")
                    div.col-lg-8.cl-md-8.col-sm-8
                        input.form-control(data-bind="value: authorDisplayName", id="authorDisplayName", type="text", required, placeholder="Author display name")
            div.row
                div.form-group
                    label.col-lg-4.col-md-4.col-sm-4.control-label(data-bind="translate: 'AUTHOR_DISPLAY_BIO'", for="authorDisplayBio")
                    div.col-lg-8.cl-md-8.col-sm-8
                        input.form-control(data-bind="value: authorDisplayBio", id="authorDisplayBio", type="text", placeholder="Author display bio")
            div.row
                div.form-group
                    label.col-lg-4.col-md-4.col-sm-4.control-label(data-bind="translate: 'AUTHOR_TWITTER_NAME'", for="authorTwitterScreenName")
                    div.col-lg-8.cl-md-8.col-sm-8
                        input.form-control(data-bind="value: authorTwitterScreenName", id="authorTwitterScreenName", type="text", placeholder="Author twitter screen name")
            div.row
                div.form-group
                    label.col-lg-4.col-md-4.col-sm-4.control-label(data-bind="translate: 'FOOTER_ANNOTATION'", for="footerAnnotation")
                    div.col-lg-8.cl-md-8.col-sm-8
                        input.form-control(data-bind="value: footerAnnotation", id="footerAnnotation", type="text", placeholder="Annotation")
            div.row
                div.form-group
                    label.col-lg-4.col-md-4.col-sm-4.control-label(data-bind="translate: 'POSTS_PER_PAGE'", for="postsPerPage")
                    div.col-lg-8.cl-md-8.col-sm-8
                        input.form-control(data-bind="value: postsPerPage", id="postsPerPage", type="number", required, placeholder="Posts on one page")
            div.row
                div.form-group
                    label.col-lg-4.col-md-4.col-sm-4.control-label(data-bind="translate: 'AUTHOR_AVATAR_URL'", for="authorAvatarUrl")
                    div.col-lg-4.cl-md-4.col-sm-4
                        input.form-control(data-bind="value: authorAvatarUrl, valueUpdate: 'input'", id="authorAvatarUrl", type="text", placeholder="Avatar url")
                    div.col-lg-4.cl-md-4.col-sm-4
                        img.img-rounded.bg-warning(data-bind="attr: {src: authorAvatarUrl}", style="max-height:100px;max-width:100px;")
        div.row
            div.col-sm-12
                div.btn-group.btn-group-sm
                    button.btn.btn-primary(data-bind="attr: {form: appSettings.formId, disabled: appSettings.saveDisabled}", type="submit")
                        span.glyphicon.glyphicon-save
                        span &nbsp;
                        span(data-bind="translate: 'SAVE'")




