extends layout
block content
    div()
        nav#main-nav.navbar.navbar-default.navbar-static-top(role="navigation")
            div.container-fluid
                ul.nav.navbar-nav
                    li
                        p.navbar-text
                            span(data-bind="translate: 'WELCOME'")
                            span , #{user.displayName}
                    // ko foreach: navlinks
                    li
                        a(data-bind="attr: {href: $data.href, target: $data.target}")
                            span.glyphicon(data-bind="attr: {'class': $data.icon? 'glyphicon '+$data.icon:''}")
                            span(data-bind="if: $data.icon") &nbsp;
                            span(data-bind="translate: $data.titleKey")
                    // /ko
        div.app-view()
            include partials/admin-posts
            include partials/admin-misc
            include partials/admin-edit-post
block specific
    script(src='/js/app-admin.js')
