extends layout
block content
    div.error-message= errorMessage
    div.user-list.table
        div.table-caption
            span.username.caption Login
            span.fullname.caption Full name
        <!-- ko foreach: userList -->
        div.user-item.table-row
            span.username.table-cell
                input.inline-edit(type="text", data-bind="value: username")
            span.fullname.table-cell
                input.inline-edit(type="text", data-bind="value: fullname")
        <!-- /ko -->
    button(data-bind="click: save") Save
    script(src="javascripts/require.js", data-main="javascripts/main.admin.js")