extends layout
block content
    div(ng-app='jellyApp')
        nav.navbar.navbar-default.navbar-static-top(role='navigation')
            div.container-fluid
                ul.nav.navbar-nav
                    li
                        p.navbar-text {{'WELCOME' | translate}}, #{user.displayName}
                    li
                        a(href='/', target='_blank') {{'BLOG' | translate}}
                    li
                        a(href='/auth/logout') {{'LOGOUT' | translate}}
                    li
                        a(href='#!/posts')
                            span.glyphicon.glyphicon-th-list
                            span &nbsp;{{'POSTS' | translate}}
                    li
                        a(href='#!/misc')
                            span.glyphicon.glyphicon-adjust
                            span &nbsp;{{'MISC' | translate}}
                    li
                        a(href='#!/files')
                            span.glyphicon.glyphicon-folder-open
                            span &nbsp;{{'FILES' | translate}}
                    li
                        a(href='#!/edit')
                            span.glyphicon.glyphicon-plus
                            span &nbsp;{{'NEW_POST' | translate}}
        div.app-view(ng-view)
block specific
    //script(src='/js/app/app-admin.js')
    //script(src='/js/app/routes-admin.js')
    //script(src='/js/app/controllers-admin.js')
