extends layout

block content
    if (items && items.length)
        include pagination
        each post in items
            include post-preview
        include pagination
    if (!(items && items.length))
        article.post
            div.content Здесь пока ничего не опубликовано, но скоро будет.
