article.post
    include post-header
    div.content
        != post.preview
        if post.useCut
            .poet-read-more.tags
                span.post-tag-ct
                    a(href=post.url, title=`Read more of ${post.title}`)
                        i.fa.fa-fw.fa-caret-square-o-down(aria-hidden="true")
                        span #{getText('Read more')}


