<!doctype html>
<html lang="{{language}}">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta charset="UTF-8"/>
        <title>Maksim Gordeev</title>
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Fira+Sans&subset=latin,cyrillic"/>
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css"/>
        <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    </head>
    <body>
        <!-- Comment under this comment is not comment. Vue template entry point it is-->
        <!--vue-ssr-outlet-->
        {{{ customState }}}
    </body>
</html>