.main-wrapper{
  .post-content{
    overflow-y: hidden;

    -webkit-transition: height 0.3s ease;
    -moz-transition: height 0.3s ease;
    -o-transition: height 0.3s ease;
    transition: height 0.3s ease;
  }
  .tags-list {
    & > * {
      margin: 0 1em 0 0;
      display: inline-block;
    }
  }
  .pull-right-md-lg{
    float: right;
    @media(max-width: 767px) {
      float: none;
    }
  }
  .no-wrap{
    white-space: nowrap;
  }
}