@color-label: #5bc0de;

.main-wrapper{
  .post-content{
    overflow-y: hidden;

    -webkit-transition: height 0.3s ease;
    -moz-transition: height 0.3s ease;
    -o-transition: height 0.3s ease;
    transition: height 0.3s ease;
  }
  .tags-list {
    & > * {
      margin: 0 1em 0 0;
      display: inline-block;
    }
    a{
      &:hover,
      &:focus{
        text-decoration: none;
      }
    }
    .label{
      background-color: @color-label;

      -webkit-transition: background-color, 0.1s linear;
      -moz-transition: background-color, 0.1s linear;
      -o-transition: background-color, 0.1s linear;
      transition: background-color, 0.1s linear;

      &:hover,
      &:focus{
        background-color: darken(@color-label, 10%);
      }
      &:active{
        background-color: darken(@color-label, 20%);
      }
    }
  }
  .pull-right-md-lg{
    float: right;
    @media(max-width: 767px) {
      float: none;
    }
  }
  .no-wrap{
    white-space: nowrap;
  }
}