@navMargin: 0.5em;
@tableBorder: solid 1px lightgray;
@tableBorderHover: solid 1px gray;

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.error-message {
  color: red;
}

.table {
  display: table;
  width: 360px;

  .table-caption {
    display: table-row;

    .caption {
      display: table-cell;
      border-top: @tableBorder;
      border-bottom: @tableBorder;
      font-weight: 700;
      padding: 0 1em;
      line-height: 2em;
      &:first-child{
        padding: 0 1em 0 0;
      }
      &:last-child{
        padding: 0 0 0 1em;
      }
    }
  }

  .table-row {
    display: table-row;

    &:hover{
      .table-cell{
        border-bottom: @tableBorderHover;
      }
    }

    .table-cell {
      display: table-cell;
      border-bottom: @tableBorder;
      padding: 0 1em;
      line-height: 2em;
      &:first-child{
        padding: 0 1em 0 0;
      }
      &:last-child{
        padding: 0 0 0 1em;
      }

      .navlink {
        margin: 0 @navMargin;

        &:first-child {
          margin: 0 @navMargin 0 0;
        }
        &:last-child {
          margin: 0 0 0 @navMargin;
        }
      }
    }
  }
}

input {
  &.inline-edit {
    /* Eliminate borders and padding */
    border: none;
    padding: 0;
    margin: 0;

    /* Inherit the parent element's typography */
    font: inherit;
    color: inherit;
    line-height: inherit;
    font-size: inherit;
    text-align: inherit;

    /* Seems to help alignment in headers */
    vertical-align: top;

    /* A subtle transition never hurts */
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -ie-transition: background-color 0.5s;
    transition: background-color 0.5s;

    &:hover,
    &:focus {
      /* Change the background to a light yellow */
      background-color: #FFD;
    }
  }
}

nav {
  .navlink {
    margin: 0 @navMargin;

    &:first-child {
      margin: 0 @navMargin 0 0;
    }
    &:last-child {
      margin: 0 0 0 @navMargin;
    }
  }
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(70, 70, 70, 0.4);
  top: 0;
  left: 0;
  z-index: 10;
  .modal-content{
    width: 360px;
    padding: 36px;
    background: white;
    position: relative;
    top: 100px;
    left: calc(~'50% - 216px');
  }
}

.user-edit{
  label{
    display: inline-block;
    width: 160px;
  }
  input[type='text'],
  input[type='password']{
    width: calc(~'100% - 164px');
    border-color: lightpink;
    border-style: solid;
    &.valid{
      border-color: lightgreen;
    }
  }
}


