@import "../../../../node_modules/elemental/less/variables";

.post-edit-form {

  .post-status-form {
    font-weight: 600;
  }

  .form-statics-ct {

    display: flex;
    align-items: baseline;
    flex-direction: column;

    @media (min-width: @screen-sm) {
      flex-direction: row;
    }

    .inline-form-statics {
      @media (min-width: @screen-sm) {
        margin-left: @component-padding;

        &:first-of-type {
          margin-left: 0;
        }
      }
    }

    time {
      font-weight: 600;
    }
  }

  hr {
    // override
    margin-top: @spacing-sm;
    margin-bottom: @spacing-sm;
  }

  .form-textarea-brief {
    min-height: 5em;
  }

  .form-textarea-content {
    min-height: 10em;
  }

  .range-form-control {
    width: 100%;
  }
}