body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.error-message {
  color: red;
}

.table {
  display: table;
  width: 100%;

  .table-caption {
    display: table-row;

    .caption {
      display: table-cell;
    }
  }

  .table-row {
    display: table-row;

    .table-cell {
      display: table-cell;
    }
  }


}