.panel.panel-primary
    .panel-heading {{'Files' | get-text}}
    .panel-body
        search-block(:initial-date-from="routeSearchParameters.dateFrom", :initial-date-to="routeSearchParameters.dateTo", @searchSubmit="onSearchSubmit")
    .panel-body
        jb-pagination(:page="page", :hasMore="hasMore")
        .row
            .col-sm-12
                .btn-group(role="group")
                    button.btn.btn-primary(type="button", @click="uploadNewFileButtonClick")
                        i.fa.fa-upload.fa-fw(aria="hidden")
                        span._margin-5._left {{'Upload new file' | get-text}}
                    button.btn.btn-danger(type="button", @click="removeCheckedFilesButtonClick", :disabled="!someChecked")
                        i.fa.fa-times.fa-fw(aria-hidden="true")
                        span._margin-5._left {{'Remove checked files' | get-text }}
    table.table.table-hover
        thead
            tr
                th
                    checkbox.without-label(:value="checkAll", @input="onCheckAllChanged({checked: $event})", type="primary")
                th {{'Title' | get-text}}
                th {{'Content type' | get-text}}
                th {{'Length' | get-text}}
                th {{'Upload date' | get-text}}
                th {{'Description' | get-text}}
                th {{'Preview' | get-text}}
        tbody
            tr(v-for="(file, fileIndex) in files", :key="file._id")
                td
                    checkbox.without-label(:value="file.checked", @input="onFileCheckedChange({index: fileIndex, checked: $event})", type="primary")
                td
                    a(:href="file.url", target="_blank", :download="file.metadata && file.metadata.originalName")
                        span._margin-5._right {{file.metadata && file.metadata.originalName}}
                        i.fa.fa-fw.fa-download(aria-hidden="true")
                td
                    i.fa.fa-fw._margin-5._right(aria-hidden="true", :class="file.contentType | content-type-to-icon")
                    span {{file.contentType}}
                td {{file.length | number-to-locale-string}} {{'bytes' | get-text}}
                td
                    display-date(:value="new Date(file.uploadDate)")
                td {{file.metadata && file.metadata.description}}
                td
                    .attachment-preview
                        img(v-if="file.contentType.indexOf('image') === 0", :src="file.url")

    .panel-body
        jb-pagination(:page="page", :hasMore="hasMore")
