.jb-footer {
  background-color: #16344e;
  color: #ffffff;
  padding: 15px;
}
.jb-footer a,
.jb-footer a:visited,
.jb-footer a:active {
  color: #ffffff;
}
.jb-footer a:hover,
.jb-footer a:focus {
  color: #e6e6e6;
}
.jb-footer .text-center-pane {
  text-align: center;
}
.jb-footer .text-right-pane {
  text-align: right;
}
@media (max-width: 767px) {
  .jb-footer .text-right-pane {
    text-align: center;
  }
}
.jb-footer .text-left-pane {
  text-align: left;
}
@media (max-width: 767px) {
  .jb-footer .text-left-pane {
    text-align: center;
  }
}
.main-wrapper .post-heading .media {
  min-height: 64px;
}
.main-wrapper .post-heading .media .media-object {
  width: 64px;
  height: 64px;
}
.main-wrapper .post-heading .media h1,
.main-wrapper .post-heading .media h2,
.main-wrapper .post-heading .media h3,
.main-wrapper .post-heading .media h4,
.main-wrapper .post-heading .media h5,
.main-wrapper .post-heading .media h6 {
  margin: 0;
}
.main-wrapper .post-content {
  overflow-y: hidden;
  -webkit-transition: height 0.3s ease;
  -moz-transition: height 0.3s ease;
  -o-transition: height 0.3s ease;
  transition: height 0.3s ease;
}
.main-wrapper .tags-list > * {
  margin: 0 1em 0 0;
  display: inline-block;
}
.main-wrapper .tags-list a:hover,
.main-wrapper .tags-list a:focus {
  text-decoration: none;
}
.main-wrapper .tags-list .label {
  background-color: #5bc0de;
  -webkit-transition: background-color, 0.1s linear;
  -moz-transition: background-color, 0.1s linear;
  -o-transition: background-color, 0.1s linear;
  transition: background-color, 0.1s linear;
}
.main-wrapper .tags-list .label:hover,
.main-wrapper .tags-list .label:focus {
  background-color: #31b0d5;
}
.main-wrapper .tags-list .label:active {
  background-color: #2390b0;
}
.main-wrapper .pull-right-md-lg {
  float: right;
}
@media (max-width: 767px) {
  .main-wrapper .pull-right-md-lg {
    float: none;
  }
}
.main-wrapper .no-wrap {
  white-space: nowrap;
}
.deferred-image {
  -webkit-transition: opacity, 0.3s ease 0.3s;
  -moz-transition: opacity, 0.3s ease 0.3s;
  -o-transition: opacity, 0.3s ease 0.3s;
  transition: opacity, 0.3s ease 0.3s;
  opacity: 0;
}
.deferred-image-loaded {
  opacity: 1;
}
.site-title {
  color: #333333;
}
.site-title a {
  color: inherit;
}
.site-title a:hover,
.site-title a:focus {
  text-decoration: none;
  color: #245682;
}
.site-title a:active {
  color: #193c5a;
}
.main-image {
  background-repeat: no-repeat;
  background-position: left center;
  height: 400px;
  width: 100%;
}
.line-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mice-pointer {
  cursor: pointer;
}
.log-details {
  padding-left: 2em;
}
body {
  margin: 0 15px;
}
.view {
  display: none;
}
.public-main.view {
  display: block;
}
span.glyphicon + * {
  margin-left: 10px;
}
.author-avatar {
  height: 100px;
  background: lime;
}
a {
  -webkit-transition: color, 0.1s linear;
  -moz-transition: color, 0.1s linear;
  -o-transition: color, 0.1s linear;
  transition: color, 0.1s linear;
}
.main-wrapper {
  max-width: 1000px;
  min-width: 480px;
}
.main-wrapper .margin-right-10 {
  margin: 0 10px 0 0;
}
.main-wrapper .margin-right-2em {
  margin-right: 2em;
}
.padding-vert-10 {
  padding-bottom: 5px;
  padding-top: 5px;
}
.padding-1em {
  padding: 1em;
}
.border-bottom {
  border-bottom: solid 1px #808080;
}
.border-bottom:last-child {
  border-bottom: none;
}
.app-view form {
  width: 100%;
}
.app-view .form-control:invalid {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.app-view .form-control.select2-container {
  padding: 0;
  border: none;
}
.app-view .form-control.select2-container .select2-choice {
  height: 100%;
  line-height: 32px;
}
.app-view .inline-block {
  display: inline-block;
}
.app-view .inlines-with-margin > * {
  margin: 0 15px 0 0;
}
.app-view .inlines-with-margin > *:last-child {
  margin: 0;
}
.app-view ul.list-style-none {
  list-style: none;
  padding: 0;
}
.app-view .table-fixed {
  table-layout: fixed;
}
.app-view .tags-list > * {
  display: inline-block;
  margin: 0 1em 0 0;
}
