aside.sidebar
    div.sidebar-content
        ul.unstyled
            li.sidebar-listitem
                tags-cloud(:tags="tags")
            li.sidebar-listitem
                ul.unstyled
                    li(v-for="soc in socials")
                        div.soc-line
                            div.soc-icon
                                font-awesome-icon(:icon="soc.icon", fixed-width)
                            div.soc-ct
                                a(:href="soc.url", v-html="soc.label")

