doctype html
html
    head
        title= Admin
        link(rel='stylesheet', href='/stylesheets/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body(ng-app='jellyApp')
        nav.navbar.navbar-default.navbar-static-top(role='navigation')
            div.container-fluid
                ul.nav.navbar-nav
                    li
                        p.navbar-text {{'WELCOME' | translate}}, #{user.displayName}
                    li
                        a(href='/', target='_blank') {{'BLOG' | translate}}
                    li
                        a(href='/auth/logout') {{'LOGOUT' | translate}}
                    li
                        a(href='#!/edit')
                            span.glyphicon.glyphicon-plus
                            span &nbsp;{{'NEW_POST' | translate}}
        div.app-view(ng-view)
        include admin-scripts
