script.
    window.admin = !{admin};
//script(src='/js/lib/angular.js')
//script(src='/js/lib/angular-route.js')
//script(src='/js/lib/angular-sanitize.js')
//script(src='/js/lib/angular-translate.js')
//script(src='/js/lib/angular-translate-loader-url.js')
//script(src='/js/lib/moment/moment.js')
//script(src='/js/lib/moment/langs.min.js')
//script(src='/js/app/app.js')
//script(src='/js/app/data.js')
//script(src='/js/app/controllers.js')
//script(src='/js/build/concat.js')

