extends layout
block content
    div()
        nav.navbar.navbar-default.navbar-static-top(role="navigation", id="main-nav")
            div.container-fluid
                ul.nav.navbar-nav
                    li
                        p.navbar-text
                            span(data-bind="translate: 'WELCOME'")
                            span , #{user.displayName}
                    li
                        a(href="/", target="_blank", data-bind="translate: 'BLOG'")
                    li
                        a(href='/auth/logout', data-bind="translate: 'LOGOUT'")
                    li
                        a(href='#!/posts')
                            span.glyphicon.glyphicon-th-list
                            span &nbsp;
                            span(data-bind="translate: 'POSTS'")
                    li
                        a(href='#!/misc')
                            span.glyphicon.glyphicon-adjust
                            span &nbsp;
                            span(data-bind="translate: 'MISC'")
                    li
                        a(href='#!/files')
                            span.glyphicon.glyphicon-folder-open
                            span &nbsp;
                            span(data-bind="translate: 'FILES_'")
                    li
                        a(href='#!/edit')
                            span.glyphicon.glyphicon-plus
                            span &nbsp;{{'NEW_POST' | translate}}
        div.app-view()
            include partials/admin-posts
            include partials/admin-misc
block specific
    script(src='/js/app-admin.js')
