footer
    div.row
        div.col-md-4
            ul.list-unstyled
                li
                    a(href='http://http://devdocs.io/')
                        b Devdocs
                li
                    a(href='http://docs.mongodb.org/manual/')
                        b Mongo docs
                li
                    a(href='https://docs.angularjs.org/guide')
                        b Angular guide
        div.col-md-4
            div.text-center
                p Center part of footer
        div.col-md-4
            div.text-right
                p Right part of footer

