extends layout

block content
    div(ng-app='jellyApp')
        div.center-block.main-wrapper
            div.container-fluid
                include main-menu
                each post in postList
                    article
                        div.row
                            div.col-md-12
                                h2= post.title
                        div.row
                            div.col-md-offset-10.col-md-2
                                span.pull-right= post.dateFormatted
                        div.row
                            div.col-md-12
                                div.post-content
                                    p!= post.content
                        div.row
                            div.col-md-12
                                a.pull-right(href='#') Читать
                include footer
block specific
    script(src='/js/app/app.js')
    script(src='/js/app/controllers.js')
    script(src='/js/app/routes.js')
